[access]
	inheritFrom = All-Projects
[project]
	description = Test
[access "refs/*"]
	owner = group user/sabariajay
[access "refs/for/refs/*"]
	read = group user/sabariajay
	push = group user/sabariajay
	label-Code-Review = -2..+2 group user/sabariajay
	label-Verified = -1..+1 group user/sabariajay
	rebase = group user/sabariajay
	removeReviewer = group user/sabariajay
	submit = group user/sabariajay
[access "refs/heads/*"]
	read = group user/sabariajay
	create = group user/sabariajay
	push = +force group user/sabariajay
	pushMerge = group user/sabariajay
[access "refs/tags/*"]
	push = group user/sabariajay
	push = +force group user/sabariajay
